.name, .date, .title{
    text-align: center;
}
p{
    border-style: ridge;
    text-align: center;
}
.picp{

}

.imgSteve{
    border-radius: 50%
}
.psteve{
    background-color: lightgray;
    text-align: center;
    align-items: center;
    border-style: groove;
}
body{
    background-color: lightcyan;
    font-family: 'Merriweather', serif;
}
ul{
    border-style: dotted;
}
li{
    border-style: groove;
    list-style-type: square;
}