.navbar {
    display: flex;
    padding: 1rem;
    gap: 10px;
    list-style-type: none;
    position: sticky;
    align-items: center;
    height: 100%;

}

p {
    color: #999;
}

.container {
    background-color: white;
}

.name .nav-item-1 {
    justify-content: space-between;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}

li {
    padding-left: 35px;
}

.nav-list ul {
    flex: auto;
}

a {
    text-decoration: none;
    color: inherit;
}


.nav-img {
    margin-left: 0%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}



.item-1 {
    text-align: center;
}

.item-1>h1 {
    text-align: center;
}



.container-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.item-1 {}

body {
    background-color: black;
}

.item-2 {
    display: flex;
    flex-basis: 100%;

}

.item-2>li {
    flex: 1 1 160px;
}

.item-2 img {
    width: 1024;
}

.item-imgs {
    width: 1024px;
    height: 800px;
}