.navbar {
    display: flex;
    padding: 1rem;
    gap: 10px;
    list-style-type: none;
    position: sticky;
    align-items: center;
    height: 100%;

}

.container {
    background-color: white;
}

.name .nav-item-1 {
    justify-content: space-between;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    justify-content: space-between;


}

li {
    padding-left: 35px;
}

.nav-list ul {
    flex: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.name {}

.nav-img {
    margin-left: 0%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.name {}

.item-1 {
    text-align: center;
}

.item-1>h1 {
    text-align: center;
}

.nav-item-2 {}

.nav-item-3 {}

.container-body {
    display: flex;
    justify-content: center;
}

.item-1 {}

body {
    background-color: black;
}